#loginform{
  display: flex;
  align-items:center;
  flex-direction:column;
  align-content:center;
  justify-content: space-between;
}
#loginform input{
   width:80%;
   height:43px;
   margin-top:12px;
   flex-direction: column;
   border-style:none;
   border-width: thick;
   border-bottom: 1px solid rgba(0,0,0,0.3);
   transition: border-color .5s ease-in-out;
}

#loginform input:not(value){
  transition: border-color .2s ease-in-out;
  border-bottom:1px solid rgba(0,0,0,0.2);
 }
/*loginform에서 login만 둥글게 만들어버려*/

#loginform input::placeholder{
  color:rgba(0,0,0,0.5);
}

#loginform input {
  outline: none;
}

#find{
  text-decoration: none;
  color:inherit;
  padding-top: 5px;
  margin-top: 5px;
  font-size:11px;
}

#loginform input:focus {
  border-color: var(--yellow);
}

#loginform input[type="submit"]{
  background: var(--yellow);
  cursor:pointer;
}
