.status-bar{
  top:0px;
  text-align:center;
  display:flex;
  justify-content: space-between;
  width:100%;
  box-sizing: border-box;
  position: fixed;
}

.status-bar__columns:first-child{
  display:flex;
  padding-left:20px;
}

.fas fa-wifi{
  display: flex;
}

.status-bar__columns:nth-child(2) span{
  display:flex;
  padding-left: 20px;
  padding-right:10px;
}

.status-bar__columns:nth-child(3) span{
  display:flex;
  text-align: center;
  padding-left: 20px;
}

.status-bar__columns:last-child{
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
}

.status-bar__columns:last-child span{
  display:flex;
  padding-left:25px;
  padding-right: 10px;
}

.fas fa-battery-quarter{
  display:flex;
  padding-left:15px;
}

.fas fa-bolt{
  transition:7px;
  display:flex;
}
