@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  font-family:"Roboto";
}

body.header h1{
  font-weight:bolder;
}

.status-bar {
  display: flex;
  justify-content: space-between;
}
.status-bar__columns:nth-child(3){
  display: flex;
  justify-content:center;
}
.header-status__columns {
  margin-right:5px;
}
.header-status__columns p {
  font-size:25px;
  font-weight: lighter;
  font-size-adjust: auto;
}

#id{
  display:center;
  justify-content:center;
  align-items:center;
}

#uf{
  display:center;
  justify-content:center;
  align-items: center;
}
