@import "reset.css";
@import "status_bar.css";
@import "header.css";
@import "nav_bar.css";
@import "variable.css";
@import "form.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  font-family:"Roboto";
  background-color:white;
  color:rgb(0,0,0);
}
